*{
	margin-right: 1;
	margin-bottom: 1;
	margin-left: 1;
	margin-top: 1;
}
.tittle{
	background-color: #011638;
	padding: 10px 10px;
}
.container-fluid{
	padding: 10px 10px;
	background-color:  #8ecae6;
}
.fondo{
	background-color: #EEC643;
}
.fon{
	padding: 1vw 1vw;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 2vw;
	background-color: rgba(197, 197, 197, 0.5);
}
.logo{
	text-align: center;
}
.Margeen{
	background:  #ffb703;
	text-align:center; 
	padding-bottom: 5px;
	font-size: 1em;
	padding-top: 5px;
}